    a:link {color:#bcdcff; text-decoration:none;}
    a:visited {color:#d0e6ff; text-decoration:none;}
    a:hover {text-decoration:underline;}

<style>
head {
	color: #C9C9C9;
	background-color: #000000;
}
body {
	background-color: #000000;
	color: #C9C9C9;
}
</style>

pre {
	font-family: monospace;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
	white-space: pre;
}
