<style>
head {
	color: #C9C9C9;
	background-color: #000000;
}
body {
	background-color: #000000;
	color: #C9C9C9;
}
</style>


pre {
	font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 11px;
	width: 585px;
	position: relative;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}
